[GAMEPLAY]
game_mode = {{ cluster_config.game_mode | default('endless') }}
max_players = {{ cluster_config.max_players | default(10) }}
pvp = {{ 'true' if cluster_config.pvp else 'false' }}
pause_when_empty = {{ 'true' if cluster_config.pause_when_empty else 'false' }}


[NETWORK]
lan_only_cluster = false
cluster_intention = cooperative
cluster_name = {{ cluster_config.cluster_name }}
cluster_password = {{ cluster_config.cluster_password }}
cluster_description = {{ cluster_config.cluster_description | default('This server is super duper') }}
offline_cluster = false
cluster_language = en


[MISC]
console_enabled = true


[SHARD]
shard_enabled = true
bind_ip = 127.0.0.1
master_ip = 127.0.0.1
master_port = 10888
cluster_key = {{ cluster_config.shard.cluster_key }}
